---
import ActionElement from "../../components/ActionElement.astro";
---

<form class="contact_form" id="contact_form">
  <input type="text" placeholder="Emri tend" required="" />
  <input type="email" placeholder="Email-i tend" name="" id="" required="" />
  <textarea
    placeholder="Na shkruaj ca gjëra per idenë tende"
    name=""
    id="description"></textarea>
  <ActionElement mode="primary" type="btn">Dërgo via Whats Up</ActionElement>
</form>
<style>
  .contact_form {
    gap: 2rem;
    display: grid;
  }
  .contact_form > * {
    color: var(--paragraph-color);
    font-family: var(--paragraph-font);
    border: none;
    font-size: 1rem;
    background-color: var(--main-bg);
    border-bottom: 1px solid var(--primary-btn-bg);
    border-radius: 4px;
    padding: 1rem;
  }
  .contact_form textarea {
    height: 100px;
  }
</style>

<script>
  const contactForm = document.getElementById("contact_form");
  const phone = "355676457173";
  contactForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const userName = document.querySelector(
      ".contact_form input:first-child"
    ).value;
    const userEmail = document.querySelector(
      ".contact_form input:nth-child(2)"
    ).value;
    const userMessage = document.querySelector(".contact_form textarea").value;
    const whatsUpMsg = `Emri i user-it : ${userName} \n Email-i: ${userEmail} \n Messazhi: ${userMessage}`;
    const enCodeMsg = encodeURIComponent(whatsUpMsg);
    const whatUpTaker = `https://wa.me/${phone}?text=${enCodeMsg}`;
    window.open(whatUpTaker, "_blank");
    console.log(userName, userEmail, userMessage, enCodeMsg);
  });
</script>
